<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properities -->
    <title>{% block title %}reqage{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'reqage/semantic/semantic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reqage/reqage.css' %}">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="{% static 'reqage/semantic/semantic.js'%}"></script>
</head>
<body>
{% block menu %}
    No menu!
{% endblock menu %}
{% block body %}
    Nobody home!
{% endblock body %}
<script>
{% block scripts %}
{% endblock %}
</script>
</body>
</html>
